# Source files
*.ts
!*.d.ts

# CDK files
cdk.out
cdk.context.json
.cdk.staging

# Test files
test/
coverage/
*.test.*

# Development files
.vscode/
.idea/
.eslintrc.*
jest.config.js
tsconfig.json

# Documentation
README.md

# Git
.git/
.gitignore
